<form name="container-form"  class="mt-4" method="POST" action="/courses/handle-form-actions">
    <div class="">
    <h3>Khóa học của tôi</h3>
    {{#if deletedCount}}
    <a class="btn btn-primary " href="/me/trash/courses">Thùng rác ({{this.deletedCount}})</a>
    {{/if}}
    </div>

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
        </div>

      <select class="form-control form-control-sm checkbox-select-all-options" id="" name="action" required>
        <option value="" >-- Hành động --</option>
        <option value="delete">Xóa</option>
      </select>

    <button class="btn btn-primary btn-sm js-btn-submit" disabled = "disabled">Thực hiện</button>
    </div>

  
    <table class="table mt-4">
        <thead>
            <tr>
                <th></th>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Thời gian tạo</th>
                <th></th>
            </tr>
        </thead>
         <tbody>
             {{#each courses}}
            <tr>
               <th>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" >
                  </div>
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                   <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                   <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
        </tbody>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Bạn chưa đăng khóa học nào. 
            <a class="" href="http://localhost:3000/courses/create">Đăng khóa học</a>
          </td>
        </tr>
        {{/each}}
    </table>
</form>

{{!-- confirm delete courses --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa học ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này.</p>
      </div>
      <div class="modal-footer">
        <button type="button"  id="btn-delete-course" class="btn btn-danger">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>
  
{{!-- Delete hidden form --}}
<form method="POST" name="delete-course-form"> </form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        const btnDeleteCourse = document.getElementById('btn-delete-course')
        var checkboxAll = $('#checkbox-all')
        var courseItemCheckbox = $('input[name="courseIds[]"')
        var checkAllSubmitBtn = $('.js-btn-submit')
       // var containerForm = document.forms['container-form']
        var containerForm = $('form[name="container-form"]')

        $('#delete-course-modal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        courseId = button.data('id')
        })

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId +'?_method=DELETE'
            deleteForm.submit();
        }
        // check box all - click
        checkboxAll.change(function () {
            let isCheckedAll = $(this).prop('checked')
            courseItemCheckbox.prop('checked', isCheckedAll);
             renderCheckAllSubmitBtn()
        })

        // Course item checkbox changed
        courseItemCheckbox.change(function() {
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
          checkboxAll.prop('checked', isCheckedAll)
           renderCheckAllSubmitBtn()
        })
        // Check all submit btn clicked
        checkAllSubmitBtn.click(function (e) {
          e.preventDefault()

          var isSubmitTable = !$(this).hasClass('disabled')
          if(isSubmitTable) {
            containerForm.submit()  
          }
        })

        containerForm.on('submit', function(e) {
           var isSubmitTable = checkAllSubmitBtn.hasClass('disabled')
          if(isSubmitTable) {
            e.preventDefault()
          }
        })

        // render check all submit btn
        function renderCheckAllSubmitBtn(){
            var checkedCount = $('input[name="courseIds[]"]:checked').length

            if(checkedCount >= 1){
              checkAllSubmitBtn.attr('disabled' , false)
            }else {
              checkAllSubmitBtn.attr('disabled',true)
            }
        }

      } )
 
</script>
